
body{
    background-color:rgb(225, 239, 251);
}

.navbar {
    height: 62px;
}

.sidebar-link {
    display: flex;
    align-items: center;;
}

.sidebar-link .right-icon {
    display: inline-flex;
    transition: all ease 0.25s;
}

.sidebar-link[aria-expanded="true"] .right-icon {
    transform: rotate(180deg);
}

.offcanvas {
    width: 270px !important;
}

.chart2 {
    height: 50px !important;
    width: 100px !important;
}

@media (min-width: 990px) {

    .offcanvas {
        transform: none !important;
        visibility: visible !important;
    }

    main {
        margin-left: 270px;
    }

    .targetNav {
        margin-left: 180px;
    }

}